#btn-navbar {
    display: none;
    padding: 10px;
}

#navbar {
    position: absolute;

    top: 50px;
    left: 0px;

    background-color: #2E86C1;
    width: 200px;
    height: 100%;

    transition: left 700ms ease-in;
}

#navbar ul li {
    border-bottom: 1px solid #c0dcee;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 50px;

    padding: 10px;

    background-color: #2E86C1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content main {
        transition: margin-left 700ms ease-in;
        margin-top: 15px;
        margin-left: 220px;
}